/* src/style/font.css */

.rubik {
  font-family: var(--font-rubik);
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.rubik-bold {
  font-family: var(--font-rubik);
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.audiowide {
  font-family: var(--font-audiowide);
  font-weight: 400;
  font-style: normal;
}
